<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech2etc Ecommerce Tutorial</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <section id="header">
        <a href="#"  style="text-decoration: none;"><img src="/static/img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fas fa-outdent"></i>
            <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        </div>


    </section>

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            {% for i in product.index %}
            <img src={{product['links'][i]}} width="100%" id="MainImg" alt="">
            {% endfor %}
        </div>

        {% if i>0 %}
            
        <div class="single-pro-details">
            <h4>{{product['title'][i]}}</h4>
            <h2>{{product['selling_price'][i]}}</h2>
            <h4>Product Details</h4>
            <span>The Gilden Ultra Cotton T-shirt is made from a substantial 6.0 oz. per
                sq. yd. fabric constructed from 100% cotton, this classic fit preshunk
                jersey knit provides unmatched comfort with each wear.featuring a taped
                neck and shoulder , and a seamless double-needle collar, and available
                in a range of colors, it offers it all in the ultimate head-turning package.</span>
                <pre>
                    
                </pre>
                {% set temp = product['product_rating'][i] | int %}
                <div class="star">
                    Rating: 
                    {% for s in range(temp) %}                        
                    <i class="fas fa-star"></i>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </section>

        <section id="product1" class="section-p1">
            <h2>Similar Products</h2>
            <p>Browse some products similar to it</p>
            <div class="pro-container">
                
                {% for j in simi.index %}
                <a href={{ '/sproduct/' + j |string }}>
                <div class="pro">
                    <img src={{simi['links'][j]}} alt="">
                    <div class="des">
                        <h5>{{simi['title'][j]}}</h5>
                        {% set temp = simi['product_rating'][j] | int %}
                        <div class="star">
                            {% for s in range(temp) %}                        
                            <i class="fas fa-star"></i>
                            {% endfor %}
                        </div>
                        <h4>{{simi['selling_price'][j]}}</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
                </a>
                {% endfor %}
            </div>
        </section>
        
        {% if flag %}
        <section id="product1" class="section-p1">
            <h2>People Also Bought</h2>
            <p>Browse some products that others bought</p>
            <div class="pro-container">
                
                {% for i in similar %}
                <a href={{ '/sproduct/' + i |string }}>
                <div class="pro">
                    <img src={{total['links'][i]}} alt="">
                    <div class="des">                    
                        <h5>{{total['title'][i]}}</h5>
                        {% set temp = total['product_rating'][i] | int %}
                        <div class="star">
                            {% for s in range(temp) %}                        
                            <i class="fas fa-star"></i>
                            {% endfor %}
                        </div>
                        <h4>{{total['selling_price'][i]}}</h4>
                    </div>
                    <a href="#"><i class="fal fa-shopping-cart"></i></a>
                </div>
                </a>
                {% endfor %}
            </div>
        </section>
        {% endif %}
    
    


    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span>
            </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign-Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/static/img/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p>
            <p><strong>Phone:</strong> +01 2222 365/(+91) 01 2345 6789</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/static/img/pay/app.jpg" alt="">
                <img src="/static/img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payments Gateways</p>
            <img src="/static/img/pay/pay.png" alt="">
        </div>
        <div class="Copyright">
            <p>© 2023,Shopit.Pvt.Ltd</p>
        </div>
    </footer>
</body>

</html>